<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Jigoku Do</title>
    <organization>GangBug - UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <fonts>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="24"/>
    <medium_font file="fonts/open_sans/OpenSans-Regular.ttf" size="18"/>
    <small_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>  
  </fonts>

  <gui>
    <atlas file="gui/atlas.png"/>
    <loadResolution x="1920" y="1080"/>
  </gui>
    
  <window>
    <resolution width="960" height="540" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>    
    <start_maximized value="false"/>
  </window>

  <file_system>
    <path>data</path>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  <particlesystem>
    <particle>
      <Info>
        <Name value= "BALL"/>
        <ID value = "0"/>
        <Collider w="64" h="64"/>
      </Info>
      <Textures>
        <Texture value="textures/ball.png"/>
      </Textures>
      <Stats>
        <Lifespan value = "3"/>
      </Stats>
      <Animations>
        <Animation rows = "1" columns = "1"/>
      </Animations>
    </particle>
    <particle>
      <Info>
        <Name value= "STAR"/>
        <ID value = "1"/>
        <Collider w="31" h="33"/>
      </Info>
      <Textures>
        <Texture value="textures/star.png"/>
      </Textures>
      <Stats>
        <Lifespan value = "2"/>
      </Stats>
      <Animations>
        <Animation rows = "1" columns = "1"/>
      </Animations>
    </particle>
    <particle>
      <Info>
        <Name value= "FIRE"/>
        <ID value = "2"/>
        <Collider w="64" h="128"/>
      </Info>
      <Textures>
        <Texture value="textures/fire.png"/>
      </Textures>
      <Stats>
        <Lifespan value = "4"/>
      </Stats>
      <Animations>
        <Animation rows = "4" columns = "8"/>
      </Animations>
    </particle>
    <particle>
      <Info>
        <Name value= "SMOKE"/>
        <ID value = "3"/>
        <Collider w="256" h="256"/>
      </Info>
      <Textures>
        <Texture value="textures/smoke.png"/>
      </Textures>
      <Stats>
        <Lifespan value = "4"/>
      </Stats>
      <Animations>
        <Animation rows = "5" columns = "6"/>
      </Animations>
    </particle>
    <particle>
      <Info>
        <Name value= "EXPLOSION"/>
        <ID value = "4"/>
        <Collider w="192" h="192"/>
      </Info>
      <Textures>
        <Texture value="textures/explosion.png"/>
      </Textures>
      <Stats>
        <Lifespan value = "3"/>
      </Stats>
      <Animations>
        <Animation rows = "5" columns = "5"/>
      </Animations>
    </particle>
  </particlesystem>
</config>
