<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Age of Empires - Gangbug Project</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <fonts>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="24"/>
	<medium_font file="fonts/open_sans/OpenSans-Regular.ttf" size="18"/>
	<small_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </fonts>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
    
  <window>
    <resolution width="800" height="600" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <start_maximized value="false"/>
  </window>

  <file_system>
    <path>data</path>
    <path>data.zip</path>    
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>